@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@media (max-width: 800px) {
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navLinks{
        display: none;
        /* position: absolute;
        right: 0;
        height: 92vh;
        background-color: white;
        top: 8vh;
        display: none; */
        /* justify-content: flex-start; */
        /* width: 70%;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        padding: .8rem; */
    }
    .responsiveMenu{
        display: flex;
        align-items: center;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        right: 0;
        
    }
    #shoppingBag{
        display: block;
        margin: 0 .8rem;
    }
    #shoppingBag a > i{
        font-size: 1.7rem;
        color: #ff8b68; 
    }



}

@media (max-width: 600px){
    .header{
        padding-top: .5rem;
        padding-bottom: 3rem;
    
    }
    .nav{
        margin: 0 .5rem;
    }
    .banner{
    margin-left: 3rem;
    padding-right: 5rem;
    }
    .banner h1{
        margin-top: 6rem;
        font-size: 1.9rem;

    }
    .banner p{
        font-size: 1rem;
    }
    .scroller{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }


    .sectionTwo{
        display: flex;
        ;
        
    }
    .typeOfConsoleWrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .typeOfConsole{
        width: 100%;
    }


    .sectionThree{
        height: 60vh;
    }
    .createConsole{
        width: 50%;
        margin: 0 auto;
    }
    .sectionThree .createConsole h1{
        font-size: 1.9rem;
    }

    .sectionFour{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        padding: 1.5rem 1.5rem;
    }



    .typeOfConsole-2{
       width: 100%;
    }



    footer{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
        padding: 2rem 2rem 2rem 2rem;
    }
    .footerSection ul li a:hover{
        text-decoration: underline;
    }
    footer .footerSection:nth-child(5){
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }
    .footerSection h5{
        margin-bottom: 1rem;
    }
}